.about {
  background-image: url("../img/backgrounds/about-mobile.png"),
    url("../img/backgrounds/background-figure.svg");
  background-repeat: no-repeat, no-repeat;
  background-position-x: 70%, -20px;
  background-position-y: bottom, top;
  background-size: contain, 133px 132px;
  padding-top: 33px;
  padding-bottom: 81px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/backgrounds/about-mobile@2x.png"),
    url("../img/backgrounds/background-figure.svg");
  }
}

.about__heading {
  margin-top: 0;
  margin-bottom: 19px;
  margin-left: 1.5rem;
  color: @color-special-3;
}

.about .paragraph {
  margin-left: 1.5rem;
}

.about__paragraph {
  margin-bottom: 1.25rem;
  max-width: 211px;
}

.about__paragraph--additional-text {
  max-width: 202px;
  margin-bottom: 0;
}

.about .about__button {
  display: none;
}

@media (min-width: @tablet) {
  .about {
    background-image: url("../img/backgrounds/about-tablet.png"),
      url("../img/backgrounds/background-figure.svg");
    background-position-x: 98%, center;
    background-position-y: 48px, top;
    background-size: 376px, calc(100% - 80px) 212px;
    padding-top: 41px;
    padding-bottom: 89px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/about-tablet@2x.png"),
      url("../img/backgrounds/background-figure.svg");
    }
  }

  .about__heading {
    margin-bottom: 40px;
    margin-left: 34px;
  }

  .about .paragraph {
    margin-left: 34px;
  }

  .about .about__paragraph {
    line-height: 2.063rem;
    margin-bottom: 31px;
    max-width: 308px;
  }

  .about .about__paragraph--additional-text {
    line-height: 1.563rem;
    max-width: 265px;
  }

  .about .about__button {
    box-sizing: border-box;
    width: 276px;
    display: flex;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1.5rem;
    text-decoration: none;
    padding-top: 29px;
    padding-right: 35.71px;
    padding-bottom: 27px;
    padding-left: 32.81px;
    border-radius: 20px;
    margin-left: 34px;
    margin-top: 52px;
  }
}


@media (min-width: @desktop) {
  .about {
    background-image: none;
    padding-top: 70px;
    padding-bottom: 0;
  }

  .about__wrapper {
    background-image: url("../img/backgrounds/about-desktop.png"),
      url("../img/backgrounds/background-figure.svg");
    background-repeat: no-repeat, no-repeat;
    background-position-x: calc(100% - 60px), 60px;
    background-position-y: bottom, top;
    background-size: 630px, 212px 212px;
    padding-top: 62px;
    padding-bottom: 161px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/about-desktop@2x.png"),
      url("../img/backgrounds/background-figure.svg");
    }
  }

  .about__heading {
    margin-top: 0;
    margin-bottom: 57px;
    margin-left: 70px;
  }

  .about .paragraph {
    margin-left: 70px;
  }

  .about .about__paragraph {
    line-height: 2.125rem;
    margin-bottom: 38px;
    max-width: 612px;
  }

  .about .about__paragraph--additional-text {
    line-height: 1.5rem;
    max-width: 425px;
  }

  .about .about__button {
    margin-top: 87px;
    margin-left: 70px;
  }
}
