.add-select-button {
  width: 100%;
  background-color: @whisper;
  border-color: @whisper;
}

.add-select-button:hover {
  .add-select-button__plus {
    stroke: @icon-plus-hover;
  }
}

.add-select-button:active {
  .add-select-button__plus {
    stroke: @icon-plus-active;
  }
}

.add-select-button__plus {
  stroke: @icon-plus;
  margin-right: 1px;
  margin-bottom: 2px;
  stroke-width: 2px;
}


@media (min-width: @tablet) {
  .add-select-button {
    width: auto;
  }

  .add-select-button.input-select__select {
    padding-top: 25px;
    padding-right: 23px;
    padding-bottom: 20px;
  }

  .add-select-button__plus {
    width: 21px;
    height: 21px;
    stroke-width: 1.5px;
  }
}
