.blockquote {
  font-size: 1em;
  line-height: 1.375rem;
  color: @white;
  margin: 0;
}

.blockquote__text {
  font-weight: 300;
  max-width: 151px;
  margin-top: 0;
  margin-bottom: 1.125rem;
}

.blockquote__cite {
  display: block;
  font-weight: 700;
  font-style: normal;
  max-width: 161px;
}
