.checkbox {
  display: flex;
  align-items: center;
  font-size: 0.938em;
  line-height: 0.938rem;
}

.checkbox__icon {
  margin-right: 13px;
}

.checkbox__icon-checkbox {
  fill: transparent;
  stroke: @input-border;
}

.checkbox__icon-checkmark {
  display: none;
  fill: @big-stone;
}

.checkbox:hover,
.checkbox__input:focus + .checkbox__icon {
  .checkbox__icon-checkbox {
    stroke: @custom-input-hover;
  }
}

.checkbox:active {
  .checkbox__icon-checkbox {
    fill: @custom-checkbox-background;
    stroke: @custom-checkbox-background;
  }
}

.checkbox:active .checkbox__input:checked + .checkbox__icon {
  .checkbox__icon-checkmark {
    fill: rgba(@big-stone, 0.3);
  }
}

.checkbox__input:checked + .checkbox__icon {
  .checkbox__icon-checkmark {
    display: block;
  }
}

.checkbox__input:checked:active + .checkbox__icon {
  .checkbox__icon-checkbox {
    fill: @custom-checkbox-background;
    stroke: @custom-checkbox-background;
  }

  .checkbox__icon-checkmark {
    fill: rgba(@big-stone, 0.3);
  }
}

.checkbox__input:active + .checkbox__icon {
  .checkbox__icon-checkbox {
    fill: @custom-checkbox-background;
    stroke: @custom-checkbox-background;
  }
}

.checkbox__input:focus + .checkbox__icon {
  outline-color: @cello;
  outline-offset: 2px;
  outline-width: 2px;
  outline-style: double;
}

.checkbox--right-filter {
  font-size: 15px;
  line-height: 20px;

  .checkbox__icon {
    margin-right: 10px;
  }

  .checkbox__icon-checkbox {
    fill: @white;
    stroke: @white;
  }

  .checkbox__icon-checkmark {
    transform-origin: 50% 50%;
    transform: scale(1.5);
  }
}

.checkbox--right-filter:hover {
  color: rgba(@black, 0.6);

  .checkbox__icon-checkbox {
    stroke: @white;
    opacity: 0.6;
  }
}

.checkbox--right-filter .checkbox__input:focus + .checkbox__icon {
  .checkbox__icon-checkbox {
    stroke: @white;
  }
}

.checkbox--right-filter:active {
  color: rgba(@black, 0.3);

  .checkbox__icon-checkbox {
    fill: @white;
    stroke: @white;
    opacity: 0.3;
  }
}

.checkbox--right-filter:active .checkbox__input:checked + .checkbox__icon {
  .checkbox__icon-checkmark {
    fill: @big-stone;
  }
}

.checkbox--right-filter .checkbox__input:checked:active + .checkbox__icon {
  .checkbox__icon-checkbox {
    fill: @white;
    stroke: @white;
    opacity: 0.3;
  }

  .checkbox__icon-checkmark {
    fill: rgba(@big-stone, 0.2);
  }
}

.checkbox--right-filter .checkbox__input:active + .checkbox__icon {
  .checkbox__icon-checkbox {
    fill: @white;
    stroke: @white;
    opacity: 0.3;
  }
}

@media (min-width: @desktop) {
  .checkbox--right-filter {
    font-size: 1.25em;
    line-height: 1.25rem;
    align-items: flex-end;
  }

  .checkbox--right-filter .checkbox__icon {
    width: 24px;
    height: 24px;
    margin-right: 13px;
  }
}
