.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 6px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: @copyright-border;
}

.copyright__text {
  font-size: 1em;
  line-height: 1rem;
  color: @color-special-1;
  text-decoration: none;
}

.copyright__link:hover {
  opacity: 0.6;
}

.copyright__link:active {
  opacity: 0.3;
}
