.country-filter {
  padding-top: 22px;
  padding-bottom: 15px;
}

.country-filter--expanded {
  padding-bottom: 27px;
  z-index: 3;

  .country-filter__world-part-list {
    display: block;
  }

  .country-filter__icon-dots {
    display: none;
  }

  .country-filter__icon-close {
    display: block;
  }

  .country-filter__icon-expand {
    width: 16px;
    height: 16px;
    margin-right: 3px;
    stroke-width: 3;
    stroke: @primary-background;
  }

  .country-filter__dropdown {
    display: block;
  }

  & + .page-catalog__wrapper {
    margin-top: -693px;

    .traveler-filter {
      margin-bottom: 47px;
    }
  }
}

.country-filter__panel {
  display: grid;
  grid-template-columns: min-content 1fr auto;
}

.country-filter__heading {
  font-size: 1em;
  line-height: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  color: @primary-background;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  align-items: baseline;
  grid-column: ~"1 / 3";
}

.country-filter__heading-icon {
  margin-right: 11px;
}

.country-filter__world-part-list {
  display: none;
  grid-column: ~"1 / -1";
  list-style-type: none;
  padding-left: 25px;
  margin-top: 35px;
  margin-bottom: 18px;
}

.country-filter__world-part:not(:last-of-type) {
  margin-bottom: 9px;
}

.country-filter__world-link {
  font-size: 1em;
  line-height: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(@primary-background, 0.3);
  text-decoration: none;
}

.country-filter__world-link--active {
  color: @primary-background;
}

.country-filter__expand-button {
  grid-row: ~"1 / 2";
  grid-column: ~"3 / -1";
  align-self: center;
  display: flex;
  .primary-font();
  font-size: 1.25rem;
  line-height: 1.25em;
  font-weight: 700;
  text-transform: uppercase;
  color: @primary-background;
}

.country-filter__dropdown {
  display: none;
}

.country-filter__alphabet-tablist {
  margin-left: 25px;
  margin-right: 25px;
}

.country-filter__tabpanel-wrapper {
  margin-left: 25px;
  margin-bottom: 25px;
}

.country-filter__country-tabpanel {
  padding-left: 0;
}

.country-filter__link {
  color: inherit;
  text-decoration: none;
}

.country-filter__collapse-button {
  .primary-font();
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 1em;
  line-height: 1.125rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: @primary-background;
  background-color: @collapse-button-background;
  width: 100%;
  border-radius: 20px;
  padding-top: 12px;
  padding-bottom: 10px;
}

.country-filter__collapse-icon {
  margin-right: 11px;
  stroke: @primary-background;
  stroke-width: 1.4px;
}

@media (min-width: @tablet) {
  .country-filter {
    padding-top: 61px;
    padding-bottom: 53px;
  }

  .country-filter__heading {
    display: none;
  }

  .country-filter__world-part-list {
    display: block;
    grid-column: ~"1 / 3";
    grid-row: ~"1 / 2";
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2px;
    padding-left: 32px;
  }

  .country-filter__world-part {
    display: inline-block;
    margin-bottom: 0;
  }

  .country-filter__world-part:not(:last-of-type) {
    margin-right: 24px;
    margin-bottom: 0;
  }

  .country-filter__world-link {
    font-size: 1.25em;
    line-height: 1.25rem;
  }

  .country-filter__expand-button {
    margin-right: 32px;
  }

  .country-filter__icon-expand {
    width: 32px;
    height: 8px;
    margin-left: 24px;
    margin-top: 8px;
  }

  .country-filter--expanded {
    padding-bottom: 79px;

    .country-filter__dropdown {
      display: grid;
    }
  }

  .country-filter--expanded + .page-catalog__wrapper {
    margin-top: -604px;
  }

  .country-filter--expanded + .page-catalog__wrapper .traveler-filter {
    margin-bottom: 40px;
  }

  .country-filter__alphabet-tablist {
    margin-top: 60px;
    margin-right: 16px;
    margin-left: 32px;
  }

  .country-filter__dropdown {
    grid-template-columns: auto auto;
    row-gap: 74px;

    .country-tabpanel__item {
      margin-bottom: 10px;
    }
  }

  .country-filter__tabpanel-wrapper {
    margin-top: 60px;
    margin-bottom: 0;
  }

  .country-filter__country-tabpanel {
    margin-top: 0;
    margin-bottom: 0;
  }

  .country-filter__collapse-button {
    align-items: flex-end;
    width: auto;
    grid-column: ~"1 / -1";
    font-size: 1.25em;
    line-height: 1.25rem;
    letter-spacing: normal;
    padding-top: 38px;
    padding-bottom: 38px;
    margin-left: 36px;
    margin-right: 36px;
  }

  .country-filter__collapse-icon {
    width: 22px;
    height: 24px;
    margin-right: 20px;
  }
}

@media (min-width: @desktop) {
  .country-filter {
    padding-top: 62px;
    padding-bottom: 57px;
  }

  .country-filter--expanded {
    padding-bottom: 79px;

    .country-filter__expand-button {
      display: none;
    }
  }

  .country-filter--expanded + .page-catalog__wrapper {
    margin-top: 72px;
  }

  .country-filter__panel {
    grid-template-columns: max-content 1fr auto;
  }

  .country-filter__expand-button {
    margin-top: -3px;
    margin-right: 60px;
  }

  .country-filter__heading {
    display: block;
    grid-column: ~"1 / 2";
    font-size: 1.25em;
    line-height: 1.25rem;
    margin-left: 20px;
  }

  .country-filter__heading-icon {
    width: 23px;
    height: 15px;
    margin-right: 15px;
  }

  .country-filter__world-part-list {
    grid-column: ~"2 / 3";
    padding-top: 0;
  }

  .country-filter__world-part:not(:last-of-type) {
    margin-right: 27px;
  }

  .country-filter__dropdown {
    row-gap: 57px;
  }

  .country-filter__tabpanel-wrapper {
    display: grid;
    grid-template-columns: 253px 254px 252px 242px auto;
    grid-column: ~"1 / -1";
    margin-top: 70px;
    margin-left: 35px;
  }

  .country-filter__country-tabpanel {
    &:nth-child(n+1):nth-child(-n+5) {
      margin-bottom: 46px;
    }

    &:nth-child(n+6):nth-child(-n+10) {
      margin-bottom: 40px;
    }

    &:nth-child(n+11):nth-child(-n+15) {
      margin-bottom: 80px;
    }

    &:nth-child(n+16):nth-child(-n+20) {
      margin-bottom: 40px;
    }
  }

  .country-filter__country-tabpanel:nth-child(5n+5):not(:nth-child(5)) {
    .country-tabpanel__item {
      margin-left: 3px;
    }
  }

  .country-filter__country-tabpanel:nth-child(11) {
    .country-tabpanel__capital-letter {
      margin-bottom: 35px;
    }
  }

  .country-filter__country-tabpanel:nth-last-child(-n+5) {
    .country-tabpanel__capital-letter {
      margin-bottom: 38px;
    }
  }

  .country-filter__country-tabpanel:nth-child(5n + 2) {
    .country-tabpanel__capital-letter {
      margin-left: -1px;
    }
  }

  .country-filter__country-tabpanel:nth-child(5n + 3) {
    .country-tabpanel__capital-letter {
      margin-left: -4px;
    }
  }

  .country-filter__country-tabpanel:nth-child(5n + 4) {
    .country-tabpanel__capital-letter {
      margin-left: -4px;
    }
  }

  .country-filter__collapse-button {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
