.directions {
  padding-top: 71px;
  padding-bottom: 33px;
}

.directions__heading {
  color: @color-special-3;
  padding-left: 25px;
  margin-top: 0;
  margin-bottom: 19px;
}

.directions__text {
  color: @color-special-1;
  max-width: 200px;
  padding-left: 25px;
}

.directions__text:last-of-type {
  margin-bottom: 60px;
}

.directions .directions__country-stack {
  margin-bottom: 27px;
}

.directions__button {
  box-sizing: border-box;
  max-width: 460px;
  font-size: 1.125em;
  line-height: 1.125rem;
  font-weight: 700;
  text-decoration: none;
  border-radius: 10px;
  padding-top: 22.48px;
  padding-left: 23.1px;
  padding-right: 21px;
  padding-bottom: 21.52px;
}
