.fellow-travelers {
  padding-top: 4.25em;
  padding-bottom: 31px;
  background-image: url("../img/background-figure.svg"),
    url("../img/rogovaya-back-desktop.png"),
    url("../img/smolov-back-desktop.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position-x: left, left, 152px;
  background-position-y: 34px, 307px, 34px;
}

.fellow-travelers__heading {
  color: @color-special-3;
  padding-left: 25px;
  margin-top: 0;
  margin-bottom: 19px;
}

.fellow-travelers__text {
  padding-left: 24px;
}

.fellow-travelers__text:not(:last-of-type) {
  max-width: 217px;
  margin-bottom: 21px;
}

.fellow-travelers__text:last-of-type {
  max-width: 197px;
  margin-bottom: 54px;
}

.fellow-travelers .fellow-travelers__travelers-list {
  margin-bottom: 20px;
}

.fellow-travelers__button {
  box-sizing: border-box;
  max-width: 460px;
  font-size: 1.125em;
  line-height: 1.125rem;
  font-weight: 700;
  text-decoration: none;
  border-radius: 10px;
  padding-top: 22.48px;
  padding-left: 23.1px;
  padding-right: 21px;
  padding-bottom: 20.52px;
}
