.location__wrapper {
  padding-top: 31px;
  padding-bottom: 35px;
}

.location__contact-list {
  color: @menu-link;
  margin-bottom: 33px;
}

.location__contact-list .contact-list__text {
  max-width: 143px;
}

.location__button {
  font-weight: 700;
  font-size: 1.125em;
  line-height: 1.125rem;
  padding-top: 1.25rem;
  padding-left: 1.25rem;
  padding-bottom: 1.125rem;
  padding-right: 1.125rem;
}

.location__button .button__icon {
  fill: @color-primary;
}

.location__map {
  width: 100%;
  box-sizing: border-box;
  margin-top: -52px;
  margin-bottom: -115px;
}

@media (min-width: @tablet) {
  .location__wrapper {
    padding-top: 48px;
    padding-bottom: 84px;
  }

  .location__contact-list {
    margin-bottom: 44px;
    margin-left: 35px;
  }

  .location__contact-list .contact-list__text {
    max-width: none;
  }

  .location__button {
    box-sizing: border-box;
    font-size: 1.5em;
    line-height: 1.5rem;
    padding-top: 1.625rem;
    padding-left: 2.125rem;
    padding-bottom: 1.5rem;
    padding-right: 2rem;
    width: calc(100% - 70px);
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .location__map {
    height: 581px;
    margin-top: -47px;
    margin-bottom: -75px;
  }
}

@media (min-width: @desktop) {
  .location__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 56px;
  }

  .location__contact-list {
    margin-right: 147px;
    margin-bottom: 0;
    margin-left: 150px;
  }

  .location__button {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .location__button .button__icon {
    width: 15px;
    height: 15px;
    margin-left: 15px;
  }

  .location__map {
    height: 584px;
    margin-top: -122px;
    margin-bottom: -71px;
  }
}
