.page-footer {
  background-color: @color-white;
  padding-top: 37px;
}

.page-footer__logo {
  text-align: center;
  display: block;
  margin-bottom: 36px;
}

.page-footer .page-footer__social-list {
  margin-bottom: 37px;
}

.page-footer--low-margin {
  margin-top: -30px;
}

@media (min-width: @tablet) {
  .page-footer {
    padding-top: 46px;
    padding-bottom: 32px;
  }

  .page-footer__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .page-footer__logo {
    margin-bottom: 0;
    justify-self: flex-start;
    align-self: center;
  }

  .page-footer .page-footer__social-list {
    margin-bottom: 0;
  }

  .page-footer--low-margin {
    margin-top: -52px;
  }
}

@media (min-width: @desktop) {
  .page-footer {
    padding-top: 47px;
    padding-bottom: 43px;
  }

  .page-footer--low-margin {
    margin-top: -35px;
  }

  .page-footer__logo .logo__image {
    width: 200px;
    height: 55px;
  }
}
