.page-header {
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 19px;
  padding-bottom: 19px;
  z-index: 1;
}

.page-header--no-activity .menu__activity {
  display: none;
}

.page-header--expanded {
  background-color: @menu-background;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 0;
  z-index: 2;

  .menu__activity {
    display: grid;
  }
}

.page-header--on-scroll {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  background-color: @menu-background;
  padding-top: 27px;
  padding-bottom: 31px;
}

.page-header--on-scroll .menu__toggle {
  top: 29px;

  &::before,
  &::after {
    background-color: @menu-toggle;
  }
}

.page-header--on-scroll .menu__activity {
  display: none;
}
