.page-footer {
  background-color: @white;
  margin-top: -140px;
  padding-top: 37px;
}

.page-footer__logo {
  text-align: center;
  display: block;
  margin-bottom: 36px;
}

.page-footer .page-footer__social-list {
  margin-bottom: 37px;
}
