.price-list {
  display: grid;
  counter-reset: priceItem;
}

.price-list__item {
  max-width: 200px;
  position: relative;
  font-weight: 300;
  font-size: 1em;
  line-height: 1rem;
  padding-top: 13px;
  padding-bottom: 14px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: @table-border;
}

.price-list__item:last-of-type {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: @table-border;
}

.price-list__item::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2px;
  right: -45px;
  content: counter(priceItem);
  counter-increment: priceItem;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  color: @white;
}

.price-list__item:nth-child(1)::after {
  background-color: @color-special-3;
}

.price-list__item:nth-child(2)::after {
  background-color: @color-secondary-dark;
}

.price-list__item:nth-child(3)::after {
  background-color: @color-secondary;
}

.price-list__term {
  margin-bottom: 6px;
}

.price-list__price {
  margin-left: 0;
}

.price-list--no-numbers {
  .price-list__item::after {
    display: none;
  }
}


@media (min-width: @tablet) {
  .price-list__item {
    max-width: none;
    display: flex;
    justify-content: space-between;
    font-size: 1.75em;
    line-height: 1.75rem;
    padding-top: 20px;
    padding-bottom: 19px;
  }

  .price-list__item::after {
    top: 0;
    right: auto;
    left: -90px;
    width: 68px;
    height: 68px;
  }

  .price-list__term {
    margin-bottom: 0;
  }
}

@media (min-width: @desktop) {
  .price-list__item::after {
    left: -92px;
  }
}
