.progress-form__step {
  padding-left: 25px;
  padding-top: 24px;
  padding-right: 25px;
  padding-bottom: 23px;
  background-color: @white;
  border-radius: 10px;
}

.progress-form__paragraph {
  margin-top: 0;
  margin-bottom: 1.25rem;
}

.progress-form__number-input {
  margin-bottom: 1.25rem;
}

.progress-form__checkbox {
  margin-bottom: 1.563rem;
}
