.register {
  padding-top: 72px;
  padding-bottom: 30px;
}

.register__heading {
  color: @color-special-3;
  text-align: center;
  margin-top: 0;
  margin-bottom: 19px;
}

.register .paragraph {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.register__text-before {
  max-width: 210px;
  margin-bottom: 29px;
}

.register__text-after {
  max-width: 216px;
}


.register__signup-form {
  margin-bottom: 29px;
}

.register .register__contact-list {
  color: @color-secondary;
}

@media (min-width: @tablet) {
  .register {
    padding-top: 76px;
    padding-bottom: 60px;
  }

  .register__heading {
    margin-bottom: 59px;
  }

  .register .register__text-before {
    max-width: none;
    width: calc(100% - 70px);
    margin-bottom: 65px;
    line-height: 2rem;
  }

  .register .register__text-after {
    max-width: none;
    width: calc(100% - 70px);
    margin-bottom: 40px;
    line-height: 1.875rem;
    letter-spacing: 0.01em;
  }

  .register__text-after br {
    display: none;
  }

  .register__signup-form {
    margin-bottom: 60px;
  }

  .register .register__contact-list {
    max-width: 616px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: @desktop) {
  .register {
    padding-top: 109px;
    padding-bottom: 104px;
  }

  .register__heading {
    margin-bottom: 58px;
  }

  .register .register__text-before {
    line-height: 1.938rem;
    margin-bottom: 60px;
  }

  .register .register__text-after {
    margin-bottom: 42px;
  }

  .register__signup-form {
    margin-bottom: 70px;
  }

  .register .register__contact-list {
    max-width: none;
    margin-left: auto;
    margin-right: auto;
  }
}
