.register {
  padding-top: 72px;
  padding-bottom: 30px;
}

.register__heading {
  color: @color-special-3;
  text-align: center;
  margin-top: 0;
  margin-bottom: 19px;
}

.register .paragraph {
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  &:first-of-type {
    max-width: 210px;
    margin-bottom: 29px;
  }

  &:last-of-type {
    max-width: 216px;
  }
}

.register__signup-form {
  margin-bottom: 29px;
}

.register .register__contact-list {
  color: @color-secondary;
}
