.social-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.social-list--no-stream {
  display: none;
}

.social-list--colored {
  .social-list__button {
    background-color: @mustard;
  }

  .social-list__button:hover,
  .social-list__button:active {
    background-color: @sunglow;
  }
}

.social-list__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 44.27px;
  border-radius: 50%;
}

.social-list__icon {
  fill: @menu-link;
}

.social-list__button:hover .social-list__icon {
  opacity: 0.6;
}

.social-list__button:active .social-list__icon {
  opacity: 0.3;
}

@media (min-width: @tablet) {
  .social-list__button {
    width: 62px;
    height: 62px;
  }

  .social-list__icon--fb {
    width: 14px;
    height: 28px;
  }

  .social-list__icon--vk {
    width: 31px;
    height: 16px;
  }

  .social-list__icon--ig {
    width: 24px;
    height: 24px;
  }
}
