.stack {
  position: relative;
}

.stack::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.stack--background-primary {
  background-color: @primary-background;
}

.stack--background-neutral {
  background-color: @mystic;
}

.stack--background-neutral-light {
  background-color: @snuff;
}

.stack--background-neutral-lighter {
  background-color: @whisper;
}

.stack--background-neutral-saturated {
  background-color: @hawkes-blue;
}

.stack--background-secondary {
  background-color: @mustard;
}

.stack--background-header {
  background-color: @color-header;
}

.stack--bottom-round {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  @media (min-width: @tablet) {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }
}

.stack--bottom-third-round {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  @media (min-width: @tablet) {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }
}

.stack--top-round {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  @media (min-width: @tablet) {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }
}

.stack--back-primary::before {
  background-color: @primary-background;
}

.stack--back-neutral::before {
  background-color: @mystic;
}

.stack--back-neutral-light::before {
  background-color: @snuff;
}

.stack--back-neutral-lighter::before {
  background-color: @whisper;
}

.stack--back-secondary::before {
  background-color: @mustard;

  @media (min-width: @tablet) {
    background-color: @mustard;
  }
}

.stack--back-showed {
  margin-bottom: 4px;

  @media (min-width: @tablet) {
    margin-bottom: 0;
  }
}

.stack--back-showed::before {
  margin-bottom: -4px;

  @media (min-width: @tablet) {
    margin-bottom: 0;
  }
}

.stack--background-filter {
  background-color: @filter-country-background;
}

.stack--back-filter::before {
  background-color: @filter-country-background;
}
