.traveler-filter {
  background-color: @mustard;
  border-radius: 20px;
  padding-top: 26px;
  padding-right: 25px;
  padding-bottom: 23px;
  padding-left: 25px;
  margin-bottom: 27px;
}

.traveler-filter__heading {
  margin-top: 0;
  margin-bottom: 0;
}

.traveler-filter__form {
  margin-top: 23px;
}

.traveler-filter__submit {
  width: 100%;
  .primary-font();
  font-weight: 700;
  font-size: 17px;
  line-height: 17px;
  text-transform: uppercase;
  color: @big-stone;
  background-color: @white;
  padding-top: 14px;
  padding-bottom: 10px;
  border-radius: 25px;
  margin-top: 4px;
  transform: scaleX(1.04);

  &:hover {
    box-shadow: 0 3px 6px rgba(@black, 0.14);
  }

  &:active {
    background-color: @fieldset-border;
    color: rgba(@big-stone, 0.3);
  }
}

@media (min-width: @tablet) and (max-width: @desktop - 1px) {
  .traveler-filter {
    padding-top: 37px;
    padding-right: 34px;
    padding-left: 34px;
    padding-bottom: 37px;
    margin-bottom: 41px;
  }

  .traveler-filter__form {
    padding-top: 26px;
    margin-top: 37px;
    border-top-width: 1px;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-style: solid;
    border-color: @fieldset-border;
  }

  .traveler-filter__submit {
    font-size: 1.25em;
    line-height: 1.25rem;
    padding-top: 18px;
    padding-bottom: 12px;
    margin-top: 36px;
    transform: scaleX(1);
  }
}

@media (min-width: @desktop) {
  .traveler-filter {
    padding-top: 46px;
    padding-right: 45px;
    padding-left: 48px;
    padding-bottom: 48px;
  }

  .traveler-filter__submit {
    width: auto;
    font-size: 1.25em;
    line-height: 1.25rem;
    padding-top: 18px;
    padding-right: 49px;
    padding-bottom: 11px;
    padding-left: 52px;
    margin-top: 22px;
    transform: scaleX(1);
  }
}
