@color-primary: #161C35;
@color-primary-light: #1D2E5B;
@color-neutral: #E6E8F1;
@color-neutral-light: #DFE3F0;
@color-neutral-lighter: #EDEFF6;
@color-neutral-dark: #D1D7E9;
@color-neutral-saturated: #D4D9EB;
@color-secondary: #FFD74B;
@color-secondary-dark: #FFBD30;
@color-special-1: #444444;
@color-special-2: #F47E7E;
@color-special-3: #FF8D30;
@color-special-3-dark: #F26926;
@color-special-4: #FFA530;

@menu-background: #FFFFFF;
@menu-link: #192144;
@menu-toggle: #CCCCCC;
@contact-list-icon: #121936;
@white: #FFFFFF;
@black: #000000;
@primary-background: #192144;
@online-status: #81E31E;
@tooltip: #101D41;
@table-border: #E1E3E9;
@action-link: #132576;
@error: #FF0000;
@copyright-border: #F2F2F2;
@modal-close: #F3F4F8;
@color-header: #182044;
@input-border: #CBCED9;
@input-border-hover: #AEB4CB;
@custom-input-hover: #959BB2;
@custom-checkbox-background: #E2E5F1;
@custom-checkbox-unchecked: #D9D9D9;
@custom-checkbox-unchecked-hover: #B2B2B2;
@button-control: #CCCCCC;
@button-control-hover: #999999;
@button-control-active: #E5E5E5;
@calendar-border: #D6D9E6;
@calendar-weekend: #FF5C23;
@delete-cross: #AFB0B5;
@icon-plus: #C2C4C9;
@icon-plus-hover: #9C9FA8;
@icon-plus-active: #C9CCD8;
@filter-country-background: #E2E5F2;
@collapse-button-background: #D6DAED;
@fieldset-border: #F3C72B;
@like-color: #F02323;
@pink: #F9EAEA;
@pink-saturated: #F9D8D8;
@color-circle: #FF8D30;
@color-dropdown-shadow: #365094;
