.no-js {
  .country-filter__world-part-list {
    display: block;
  }

  .country-filter__icon-dots {
    display: none;
  }

  .country-filter__icon-close {
    display: block;
  }

  .country-filter__icon-expand {
    width: 16px;
    height: 16px;
    margin-right: 3px;
    stroke-width: 3;
    stroke: @primary-background;
  }

  .country-filter__dropdown {
    display: block;
  }

  .fieldset-dropdown__dropdown {
    display: block;
  }
}
